torch==2.4.1
torchvision==0.19.1
transformers==4.44.2
timm==1.0.9
einops==0.8.0
kornia==0.7.3
pillow==10.4.0
numpy==1.26.4
scipy==1.14.1
pymatting==1.1.12
opencv-python-headless==4.10.0.84
requests==2.32.3
